[user]
	name = yxjxx
	email = yangjing201111335@gmail.com
[core]
	editor = vim
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[alias]
	unstage = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = true
