[user]
	name = yxjxx
	email = i@yxjxx.com
[core]
	editor = vim
	excludesfile = /Users/yxj/.gitignore_global
	quotepath = false
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[alias]
	unstage = reset HEAD
	co = checkout
	ci = commit -v
	st = status
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
